{% extends 'inventory/base.html' %}

{% load static %}

{% block body %}

<h1 class="h3 mb-2 text-gray-800">Customer Details </h1>
<p class="mb-4">EmployeeTables some info ------- will write by gomathy  </p>
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Customer Table</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>address</th>
            <th>phone</th>
            <th> View Orders</th>
            <th> Add New Orders </th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <ul>
        		{% for c in cus %}
        			<tr>
                  <td>{{ c.id }} </td>
        			    <td>{{ c.name }} </td> 
        			    <td>{{ c.address }} </td>
        			    <td>{{ c.phone }} </td>

                  <!-- View Orders Details -->
                  <td>
                    <a href="{% url 'inventory:order_list' c.id %}" 
                      class="btn btn-primary" role="button"> [/\]
                    </a>
                  </td>

                  <!-- Add New Orders -->
                  <td>
                    <a href="{% url 'inventory:order_now' c.id %}" 
                      class="btn btn-primary" role="button"> + 
                    </a>
                  </td> 
                  
                  <!-- Update -->
                  
                  <td>
                      <a href="{% url 'inventory:cust_edit' c.id %}" class="btn btn-info btn-circle btn-sm">
                        <i class="fas fa-info-circle"></i>
                      </a>
                    
                  </td>
                  

                  <!-- delete -->
                  
                  <td> 
                  <div class="nav-item dropdown no-arrow mx-1" align="center">
                      <a class="nav-link dropdown-toggle" href="{% url 'inventory:delete_customer' c.id %}" 
                        id="alertsDropdown" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-trash"></i>
                      </a>

                      <div class="dropdown-menu dropdown-menu-centre shadow animated--grow-in" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">
                          Are you sure you want to delete {{ c.name }}?
                        </h6>
                        <div class="button-group" align="center">
                          <a href="{% url 'inventory:delete_customer' c.id %}" class="btn btn-primary" role="button"> Delete </a> 
                          <a href="/customer" class="btn btn-primary" role="button"> Cancel </a> 
                        </div>
                      </div>
                  </div>

                  </td>
        			</tr>
        		{% endfor %}
        	</ul>
        </tbody>
      </table>
    </div>
  </div>
</div>

        <!-- /.container-fluid -->

<!-- Add Customer -->  

<div class="button-group">
      <a href="{% url 'inventory:add_customer' %}" class="btn btn-primary" role="button">
      Add New Customer </a>
</div>



{% endblock %}