{% extends 'inventory/base.html' %}

{% block body %}

<div class="container">
	<form method="POST">

	{% csrf_token %}

		{% for field in form %}

		<div class="form-group row">
			<label for="id_{{field.name}}" class="col-2 col-form-label"> {{ field.label}}</label>
			<div class="col-10">
				{{ field }}
			</div>

		</div>
        {% endfor %}

        <button type="submit" class="btn btn-primary" name="button">update</button>
        <a href="/customer"><div class="btn btn-primary"> Back </div></a>

        <a href="{% url 'inventory:order_now' cus.id %}" 
          	class="btn btn-primary" role="button"> Add New Orders 
        </a> 

        <a href="{% url 'inventory:order_list' cus.id %}" 
          	class="btn btn-primary" role="button"> View Orders Details
        </a>

	</form>
</div>

{% endblock %}